@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f6f5f7;
    background: linear-gradient(to right, #f6f5f7, #aabcbc);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
}

h1 {
    font-weight: bold;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button{
    border-radius: 14px;
    border: 1px solid transparent;
    background-color: #758b8b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 70ms ease-in;
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
}

button:focus{
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #fff;
}

form {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #d1dfdf;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 8px;
}

/* --- POSICIONAMIENTO DE FORMULARIOS --- */
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

/* ---POSICIONAMIENTO DE FORMULARIOS --- */
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

/* El Login ocupa la mitad por defecto */
.sing-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

/* El Registro esta oculto al principio */
.sing-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.social-container {
    margin: 20px 0;
}

.social {
    border: 1px solid #999;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3px;
    width: 40px;
    height: 40px;
}

/* --- LA TAPA (OVERLAY) --- */
/* Es el contenedor que tapa la mitad del formulario */
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%; /* Arranca tapando la mitad derecha */
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 100;
    border-radius: 90px 0 0 70px;
}

.overlay {
    background: #758b8b;
    background: -webkit-linear-gradient(to right, #758b8b, #aabcbc);
    background: linear-gradient(to right, #758b8b, #aabcbc);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%; /* Doble ancho para poder deslizar el fondo */
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

/* Panel Izquierdo (Para ir al login) */
.overlay-left {
    transform: translateX(-200%);
}

/* Panel derecho (Para el registro) */
.overlay-right {
    right: 0;
    transform: translateX(0);
}

/* --- CLASES ACTIVAS (LA MAGIA) --- */
/* Estas clases se activan con JS cuando apretas el boton */

/* Mover el formulario de Login a la derecha */
.container.active .sing-up-container {
    transform: translateX(100%);
}

/* Mover y mostras el formulario de registro */
.container.active .sing-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

/* Mover la tapa hacia la izquierda */
.container.active .overlay-container {
    transform: translateX(-100%);
    border-radius: 0 90px 70px 0;
}

/* Mover el fondo de la tapa para efecto 3D */
.container.active .overlay {
    transform: translateX(50%);
}

.container.active .overlay-left {
    transform: translateX(0);
}

.container.active .overlay-right {
    transform: translateX(200%);
}

/* Animacion de opacidad suave */
@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}